node_modules

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

backend/node_modules
backend/.env

fivem-server/*.dll
fivem-server/*.gitignore
fivem-server/crashes
fivem-server/citizen
fivem-server/*.bat
fivem-server/*.crt
fivem-server/*.key
fivem-server/*.git
fivem-server/*.exe
fivem-server/*.json
fivem-server/cfx-server-data-master/cache
fivem-server/cfx-server-data-master/.replxx_history
fivem-server/cfx-server-data-master/ignore.git
fivem-server/cfx-server-data-master/*.cfg
fivem-server/cfx-server-data-master/resources/\[local]/fivem/dist
